html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


body {
    background: black;
    color: white;

}

h2 {
    margin-left: 10%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    justify-content: center;
    gap: 1em;
    box-sizing: border-box;
    width: 100%;
}

.grid>div {
    aspect-ratio: 1 / 1;
    background: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    font-size: 12pt;
    transition: background 0.15s;
}

.grid>div.flash {
    background: #4af;
}