#paint {
    position: relative;
    width: 100%;
    height: 100%;
}

#paint .outline {
    position: absolute;
    width: 90%;
    height: calc(90% - 64pt);
    left: 5%;
    top: 5%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#paint .outline .blend {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

#paintbox {
    position: absolute;
    width: 100%;
    height: 100%;
}

#hue.slider {
    position: absolute;
    display: block;
    width: 80%;
    left: 10%;
    bottom: 42pt;
    height: 30px;
    background-image: linear-gradient(to right,
            hsl(0, 100%, 50%),
            hsl(60, 100%, 50%),
            hsl(120, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(240, 100%, 50%),
            hsl(300, 100%, 50%),
            hsl(360, 100%, 50%));
    border: 1px solid #a2cfea;
}

#hue.slider .knob {
    position: absolute;
    margin: 2px;
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
    background-color: #a2cfea;
}
